.card {
    border: solid black 2px;
    width: 75%;
    height: 750px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.card-icon {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-message, .card-greeting {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.card-message {
    font-size: 1.5em;
    padding: 20px;
    height: 100%;
}

.card-greeting {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
