
.customization {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #FFB703;
    padding: 10px;
    border-radius: 15px;
    border: solid black 5px;
}

.customization 
input, input::placeholder, 
select, 
textarea, textarea::placeholder {
    color: white;
    background-color: #219EBC;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}
