    .box {
    margin-top: -500px;
    width: 80%;
    height: 300px;
    font-size: 47px;
    font-family: 'Snowburst One', cursive;
    color: #219EBC;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    background-color: #ffb703;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px; 
    border: solid black 0px;
}